* {
  margin: 0;
  padding: 0;
}

:root {
  --desktop-margin: 100px;
  --main-bg-one-color: #ffc107;
  --main-bg-two-color: #007bff;
}

/* --- WRAPPING EVERTHING EXCEPT  --- */
.wrapper {
  margin: 0 var(--desktop-margin);
}

/* --- NAVBAR --- */
header {
  background-color: var(--main-bg-one-color);
}

.navbar {
  position: relative;
  color: #fff;
  padding: 0 20px;
  height: 100px;
  box-sizing: border-box;
}

.navbar-brand img {
  position: absolute;
  left: var(--desktop-margin);
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-brand img {
  height: 75px;
  cursor: pointer;
}

.navbar-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.navbar-form {
  position: absolute;
  right: var(--desktop-margin);
  top: 50%;
  transform: translateY(-50%);
}

.navbar-form form {
  display: inline-block;
}

.form-group {
  margin-right: 10px;
  display: inline-block;
}
/* --- NAVBAR END --- */

/* --- LOGIN innerHTML --- */
#textLogin {
  text-align: center;
  margin-top: 20px;
}

#loginForm2 {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group2 {
  margin-bottom: 15px;
}

.form-group2 label {
  display: block;
}

.form-group2 input[type="text"],
.form-group2 input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0;
}

.form-group2 input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.form-group2 input[type="submit"]:hover {
  background-color: #4e4e4e;
}

.form-group2 input::placeholder {
  padding-left: 4px;
}

.form-group2 input {
  padding-left: 4px;
}
/* --- LOGIN innerHTML END --- */

/* --- ONLY FOR TEST USE --- */
.test ul li {
  display: inline-block;
}

/* --- EVENT --- */
.containerEvent {
  width: 100%;
  border: 2px solid var(--main-bg-two-color);
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.headerEvent {
  text-align: center;
}

.headerEvent h2 {
  font-size: 3rem;
}

.side-by-side-container {
  display: flex;
}

.left-side-top {
  width: 70%;
}

.right-side-top {
  width: 30%;
}

.gallery h4 {
  text-align: center;
}

.gallery img {
  width: 80%;
  display: block;
  margin: auto;
}

.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  cursor: pointer;
  margin: 0 35px;
  font-size: 24px;
  user-select: none;
}

.left-arrow {
  color: var(--main-bg-two-color);
  font-size: 2rem;
  font-weight: bold;
}

.right-arrow {
  color: var(--main-bg-two-color);
  font-size: 2rem;
  font-weight: bold;
}

.info {
  border: 2px solid var(--main-bg-two-color);
  padding: 5px;
  margin: 36px 0 10px 0;
  border-radius: 8px;
}

.info h5 {
  font-weight: bold;
  font-size: 1rem;
}

.ticket-info {
  border: 2px solid var(--main-bg-two-color);
  padding: 5px;
  border-radius: 8px;
}

.ticket-info h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.ticket-info h5 {
  font-weight: bold;
  font-size: 1rem;
}

.ticketEvent {
  display: flex;
  justify-content: space-between;
}

.artist-list h3 {
  margin-top: 10px;
  text-align: center;
  color: var(--main-bg-two-color);
  font-size: 2rem;
}

.artist-list ul {
  border: 2px solid var(--main-bg-two-color);
  padding: 5px;
  border-radius: 8px;
}

.artist-list ul li {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}

.artist-list ul li:nth-child(odd) {
  color: var(--main-bg-two-color);
}

.artist-list ul li:nth-child(even) {
  color: #000000;
}

.side-by-side-container-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.left-side-bottom a {
  cursor: pointer;
  background-color: var(--main-bg-two-color);
  padding: 3px;
  border: 2px solid #000000;
  border-radius: 8px;
  text-decoration: none;
  color: #000000;
}

.rating h3 {
  position: relative;
  color: var(--main-bg-two-color);
  font-size: 1.5rem;
  bottom:15px;
  right: 70px;
}

.rating input {
  display: none;
}

.rating label {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  font-size: 25px;
  left: 30px;
}

.rating label:before {
  content: "\2605";
  display: inline-block;
}

.rating input:checked ~ label:before {
  color: orange;
}

.rating {
  display: flex;
  flex-direction: row-reverse; 
}


.ad {
  background-color: aqua;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
}

footer {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: var(--main-bg-one-color);
}

footer h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comments{
  width: 1280px;
  position: relative;
  left: 20px;
  }
  .comment {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  
  .comment p {
    margin: 0;
  }
  
  
  .comment strong {
    color: #333;
  }
  
  
  .comment-box {
    margin-top: 20px;
  }
  
  
  .comment-box textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .comment-box button {
    position: relative;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    bottom: 5px;
  }
  