* {
  margin: 0;
  padding: 0;
}

:root {
  --desktop-margin: 100px;
  --main-bg-one-color: #ffc107;
  --main-bg-two-color: #ffc107;
}

.wrapper {
  margin: 0 var(--desktop-margin);
  background-color: aqua;
}

/* --- NAVBAR --- */
header {
  background-color: var(--main-bg-one-color);
}

.navbar {
  position: relative;
  color: #fff;
  padding: 0 20px;
  height: 100px;
  box-sizing: border-box;
}

.navbar-brand img {
  position: absolute;
  left: var(--desktop-margin);
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-brand img {
  height: 75px;
  cursor: pointer;
}

.navbar-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.navbar-form {
  position: absolute;
  right: var(--desktop-margin);
  top: 50%;
  transform: translateY(-50%);
}

.navbar-form form {
  display: inline-block;
}

.form-group {
  margin-right: 10px;
  display: inline-block;
}

/* --- ONLY FOR TEST USE --- */
.test ul li {
  display: inline-block;
}
